<div *ngIf="show">
    <h2>Welcome {{ username }}</h2>
    <img src="../../assets/avatar.png" alt="" />

    <ul>
        <li>Username: {{ username }}</li>
        <li>Birthdate: {{ birthdate }}</li>
        <li>Email: {{ email }}</li>
        <li>Age: {{ age }}</li>
    </ul>
    <div>
        <button type="button" (click)="edit()">Edit</button>
    </div>
</div>
<div *ngIf="!show">
    <form>
        <div>
            <label for="username">Username: </label>
            <input name="username" id="say" [(ngModel)]="username" value="{{ username }}" />
        </div>
        <div>
            <label for="to">birthdate:</label>
            <input name="birthdate" id="say" [(ngModel)]="birthdate" value="{{ birthdate }}" />
        </div>
        <div>
            <label for="to">email:</label>
            <input name="email" id="say" [(ngModel)]="email" value="{{ email }}" />
        </div>
        <div>
            <label for="to">age:</label>
            <input name="age" id="say" [(ngModel)]="age" value="{{ age }}" />
        </div>
        <div>
            <button type="button" (click)="save()">Save</button>
        </div>
    </form>
</div>